    <a href="http://127.0.0.1:8000">Click here for count again</a> <br>
    <div> </div><br>
    <a href="http://msn.com" target="_blank">for msn click here</a><br>
    <a href="{% url 'home' %}"> click here</a>
    
    <h1>Count data here</h1>
    <h1>There are {{count}} words in our textbox</h1>
    {{ fulltext }}
    <h1>word count:</h1>
    {{ fulltext }} <br>
    {{ sortedword }}

    <h1>word count :</h1>
    {% for word, counttotal in sortedword %}

    {{ word }} - {{ counttotal }} <br>

    {% endfor %}

